/*Base
 */
.saf {
  position: relative;
}

.saf-helper-imgs {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.saf-img {
  max-height: 100vh;
  max-width: 100%;
  position: absolute;
}

/*Utilities
 */
.bottom-0 {
  bottom: 0;
}

.end-0 {
  right: 0;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-relative {
  position: relative;
}

.start-0 {
  left: 0;
}

.top-0 {
  top: 0;
}

.top-auto {
  top: auto;
}
